
#adviser {
  background: url(../../images/pagebg4.jpg) no-repeat;
  background-size: 100% 100%
}
#adviser .slogan {
  margin-top: 20%
}
.info {
  width: 80%;
  margin: 10% auto
}

.info h2 {
  text-align: center;
  color: #fdf4e7;
  font-size: 16px;
  line-height: 180%
}

.info .iptbor {
  margin: 15px auto
}
.info input {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #fdf4e7;
  background: #fdf4e7;
  position: relative;
  border-radius: 5px;
  color: #483c39;
  font-size: 14px
}